html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  //overflow: hidden;

  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background-color: #061c2f;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 6px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #174a77;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

body {
  background-color: #061c2f;
  color: lightgray;
  //overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  height: 100vh;
  scroll-snap-align: center;
  overflow: hidden;
}

@mixin mobile {
  @media (max-width: 738px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: 1366px) {
    @content;
  }
}
